DISCORD_TOKEN= [YOUR-RESPECTIVE-DISCORD-TOKEN-SHOULD-BE-PASTED-HERE]
IG_USERNAME= [YOUR-FAKE-INSTA-ID'S-USERNAME-SHOULD-BE-PASTED-HERE]
IG_PASSWORD= [YOUR-FAKE-INSTA-ID'S-PASSWORD-SHOULD-BE-PASTED-HERE]